<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Is Ready</title>
</head>
<body>
    <h1>ABOUT US</h1>
    <p>We are Lagos's premier restaurant food delivery service. We make it convenient to have your favorite meals delivered to your home or office without all the hassle and effort of doing it yourself. No more long lines, fighting traffic, braving the weather, or arriving home with cold food. We make every effort to have your meals delivered within 60 minutes. We can handle your business meetings, office parties, dinner parties, or any other mealtime gathering that you don't wish to prepare yourself.</p>
</body>
</html>